.page {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1280px) {
  .page {
    width: 1280px;
  }
}

@media (max-width: 1024px) {
  .page {
    width: 1024px;
  }
}

@media (max-width: 480px) {
  .page {
    width: 480px;
  }
}
